<div class="container">
  <header>
    <img src="../../assets/logoB.png" alt="logo">
    <p class="name logo">Merkury</p>
  </header>
  <p class="margin active"><i class="fas fa-home"></i><span class="name">Home</span></p>
  <p class="margin"><i class="fas fa-equals"></i><span class="name">Workflow</span></p>
  <p class="margin"><i class="fas fa-chart-line"></i><span class="name">Statistics</span></p>
  <p class="margin"><i class="far fa-calendar-alt"></i><span class="name">Calendar</span></p>
  <p class="margin"><i class="far fa-user"></i><span class="name">Users</span></p>
  <p class="margin"><i class="fas fa-cog"></i><span class="name">Settings</span></p>
</div>
