header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.space{
  flex: 1 1 auto;
}
.primary{
  background-color: #5384ff;
  margin-right: 7px;
}
.delayed{
  background-color: #f83d7c;
  margin-right: 20px;
}
h3{
  margin-left: 7%;
  color: #394359;
  font-family: Calibri sans-serif;
}
.circle{
  display: flex;
  padding: 5px;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.list{
  height: 40vh;
  overflow-y: scroll;
  overflow: overLay;
}
::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  z-index: 10;
  left: -5px;
}
::-webkit-scrollbar-thumb {
  background: #8896b2;
  border-radius: 10px;
}
.cont{
  border: 1px solid #e7eaf0;
  background-color: white;
}
