header{
  display: flex;
  align-items: center;
  margin: 0vmin 3vmin;
  justify-content: space-between;
}

.container{
  background-color: white;
  height: 45vh;
  border: 1px solid #e7eaf0;
}
.select{
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #e7eaf0;
  font-size: x-small;
}
select, select:focus{
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: x-small;
  font-weight: bolder;
  color: #2d374f;
}
h2{
  font-family: Calibri sans-serif;
  color: #8391ae;
  font-weight: bold;
  font-size: 1rem !important;
}
.fa-angle-down{
  padding-left: 3vmin;
}

.cont{
  position: relative;
  /*width: 200px;
  height: 200px;*/
  width: 26vmin;
  height: 26vmin;
  border-radius: 50%;
  margin-right: 5vmin;
  margin-left: 3vmin;
}
.hole{
  background-color: white;
  width: 15vmin;
  height: 15vmin;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text{
  color: #8896b2;
}

.legend{
  margin-right: 4vmin;
}
h4{
  margin: 0px;
}
.hole h2{
  margin: 0px;
}
.drop{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.diagramm{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
  position: relative;
}

.legend div{
  display: flex;
  align-items: center;
}
.frame{
  position: absolute;
  top:0;
  left: 13vmin;
  width: 13vmin;
  height: 26vmin;
  overflow: hidden;
  transform-origin: left center;
}
.value{
  position: absolute;
  width: inherit;
  height: inherit;
  top:0;
  left: 0;
  border-bottom-right-radius: 15vmin;
  border-top-right-radius: 15vmin;
  transform-origin: left center;
}
